/*引用外部字体*/
@font-face {
    font-family: "Revamped";
    src: url(../Source/Revamped.otf);
}
*{ /*重置浏览器*/
    margin: 0;
    padding: 0;
    font-family: "宋体";
}
body{
    background-color: #000;
}
/*背景区域*/
div.bg{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background-color: #000000;
    z-index: -10;
}
/*浮动背景图，需要循环覆盖*/
div.floatbg-truncate{
    position: absolute;
    left: 0;
    float: right;
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
    z-index: -9;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1)), url(../Source/background.jpg);
    background-size: 100%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*主内容部分*/
div.content{
    width: 90%; /*99.7*/
    height: 100%;
    /* background-color: #00000066; */
    margin: 0px auto;
    padding: 0px 0px;
    text-align: center;
}
/*内容列表样式*/
ul.ul-content{
    list-style-type: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*空白占位A*/
div.halfpage{
    /* border: 1px dotted #454545; */
    width: 100%;
    height: 400px;
}
/*空白占位A*/
div.quatpage{
    /* border: 1px dotted #454545; */
    width: 100%;
    height: 200px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*主标题*/
h1.bigtitle{
    font-family: "Revamped";
    color: #ddd;
    padding-top: 250px;
    padding-bottom: 250px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: clamp(1.875rem, 0.335rem + 4.93vw, 6.25rem);
    background-size: 100%;
    background-position: 20%;
    text-shadow: 5px 5px 20px #000;
    letter-spacing: 0.25em;
}
/*返回主页链接*/
a.back{
/*	18px*/
    font-size: clamp(0.875rem, 0.551rem + 0.86vw, 2.625rem);
    color: #888;
    text-decoration: none;
    letter-spacing: .5em;
    text-shadow: 0px 0px 10px #000;
}
/*返回主页链接 -- 鼠标悬停伪类*/
a.back:hover{
    text-decoration: line-through;
    color: #ffd500;
    letter-spacing: .5em;
}
/*返回主页链接 -- 持续触发伪类*/
a.back:active{
    text-decoration: line-through;
    color: #ffd500;
    letter-spacing: .5em;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*个人形象*/
div.aboutme{
    width: 400px;
    height: 450px;
    margin: auto;
    z-index: 9;
    /* border: 1px solid #555; */
}
/*个人形象 -- 头像*/
img.aboutme-avatar{
    border-radius: 5%;
}
/*个人形象 -- 中文姓名*/
h3.aboutme-cn-name{
    margin-top: 50px;
    color: #ddd;
    letter-spacing: 0.2em;
    font-size: 24px;
}
/*个人形象 -- 英文姓名*/
h3.aboutme-en-name{
    margin-top: 0px;
    color: #888;
    letter-spacing: 0.35em;
    font-size: 24px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*个人简要介绍*/
div.introme{
    width: clamp(21.875rem, 10.465rem + 45.64vw, 120rem);
    /* height: 450px; */
    margin: auto;
    z-index: 9;
    /* border: 1px solid #555; */
}
/*个人简要介绍 --中文文本介绍*/
p.cn-introme{
/*    margin-top: 0px;*/
    color: #888;
    margin-top: 50px;
    line-height: 35px;
    font-size: 20px;
    text-indent: 2em;
    text-align: left;
    letter-spacing: 0.15em;
}
/*个人简要介绍 --英文文本介绍*/
p.en-introme{
/*    margin-top: 0px;*/
    color: #888;
    margin-top: 50px;
    line-height: 35px;
    font-size: 20px;
    text-indent: 2em;
    text-align: left;
    letter-spacing: -0.05em;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*列表中的所有超链接*/
ul a{
    display: inline-block;
    font-size: 22px;
    color: #888800;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*作品清单样式*/
ul.ul-artworklist{
	display: inline-block;
    font-size: 22px;
    color: #CCC;
    text-decoration: none;
	list-style-type: none;
    letter-spacing: 0.1em;
    margin-top: 20px;
    margin-bottom: 60px;
}
/*作品清单中的所有超链接*/
ul.ul-artworklist a{
	padding-bottom: 10px;
	font-size: 22px;
    color: #888;
    letter-spacing: 0.05em;
}
/*作品清单中的所有超链接 -- 鼠标悬停伪类*/
ul.ul-artworklist a:hover{
	text-decoration: #ffd500 wavy underline;
/*	text-decoration: line-through;*/
    font-size: 22px;
    color: #ffd500;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*固定锚点 -- 回到顶端*/
div.fixedanchor{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background: url(../Source/uparrow.png);
    background-size: 100% 100%;
    opacity: 0.35;
}